<h1>My Work</h1>
<p>Please take a look at my wondering creations</p>

<div style="justify-content: center; display: flex;">
    <div fxLayout="row">
        <div>
            <mat-card class="example-card2-width carousel-not-selected-left">
                <img mat-card-image class="example-card2" src="../assets/images/me1-shadow.jpg" alt="Kollen Dillworth">
                <mat-card-content>
                    <p>
                    I look forward to helping you build the perfect website for you needs!
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card class="example-card2-width carousel-selected">
                <img mat-card-image class="example-card2" src="../assets/images/me1-shadow.jpg" alt="Kollen Dillworth">
                <mat-card-content>
                    <p>
                    I look forward to helping you build the perfect website for you needs!
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card class="example-card2-width carousel-not-selected-right">
                <img mat-card-image class="example-card2" src="../assets/images/me1-shadow.jpg" alt="Kollen Dillworth">
                <mat-card-content>
                    <p>
                    I look forward to helping you build the perfect website for you needs!
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- <mat-card class="example-card2-width carousel-selected">
        <img mat-card-image class="example-card2" src="../assets/images/me1-shadow.jpg" alt="Kollen Dillworth">
        <mat-card-content>
            <p>
            I look forward to helping you build the perfect website for you needs!
            </p>
        </mat-card-content>
    </mat-card> -->
</div>