.spinner{
    position: absolute;
    top: 45%;
    left: 47%;
    z-index: 1;
}


@media screen and (min-width: 960px) and (max-width: 1279px) {
    .spinner{
        top: 45%;
        left: 45%;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 959px) {
    .spinner{
        top: 45%;
        left: 45%;
    }
  }

  @media screen and (max-width: 599px) {
    .spinner{
        top: 45%;
        left: 37%;
    }
  }