.example-card {
    max-width: 400px;
  }


  
  .example-header-image {
    background-image: url('../assets/images/me1-shadow.jpg');
    background-size: cover;
  }

.bg-image{
    background-image: url("../assets/images/landing-bg3.jpg");
    background-size: cover;
}  


.image-shadow{
    box-shadow: .7rem .5rem .32rem .1rem rgba(0,0,0,30%);
}